:root {
    --background-black: #212121;
    --background-lite: #f3f4f6;
    --black: #212121;
    --white: #fff;
    --lite: #f3f4f6;
    --purple: #4f46e5;
    --lite-tranparent: #ffffffa8;

    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}