@import 'texto';

.conteiner {
     .contenido {
          .header {
               position: sticky;
               top: 0;
               z-index: 100;
               background-color: var(--lite-tranparent) !important;
               backdrop-filter: blur(4px);
          }

          header {

               .header-nav {
                    .header-nav_logo {
                         .logo__red {
                              color: var(--purple);
                         }
                    }
               }
          }

          .form_simplex {
               width: 40em;
               display: grid;
               grid-template-columns: repeat(2, auto);
               grid-gap: 12px;
               align-items: end;
               grid-template: "metodo sig"
                    "variables restric "
                    "button button";

               .form_simplex__btn {
                    grid-area: button;

                    a {
                         font-size: 1.05em;
                         height: 1.5em;
                         width: 6em;
                         display: grid;
                         align-items: center;
                         justify-content: center;
                    }
               }
          }

          .table_form {
               width: max-content;

               table {

                    tr,
                    td {
                         display: flex;
                    }

                    td {
                         display: flex;
                         align-items: center;

                         .inputForm {
                              width: 7em;
                              padding-inline: 1em;

                         }

                         div {
                              margin-inline: 0.3em;
                         }
                    }
               }
          }

          .table_formulacion {
               width: 30em;

               table {
                    .table-purple {
                         th {
                              background-color: var(--purple);
                              color: var(--lite);
                              font-weight: 600;
                         }
                    }

                    th,
                    td {
                         .table-input {
                              width: 1em;
                              display: inline;
                         }

                         span {
                              font-size: 0.9em;
                              position: relative;
                              top: 5px;
                         }

                    }

               }
          }

          .box-contain-example {
               height: 40em;
               overflow: auto;
          }

          .footer-center {
               margin: 0 auto;

               h2,
               h4,
               p {
                    text-align: center;
               }
          }

          .footer-new {
               background-color: rgba(78, 70, 229, 0.25) !important;
               padding: 4rem 0;
          }

          ul.simplex {
               margin-left: 2em;
               list-style: inside;
          }

          .svg-simplex {
               display: flex;

               .svg-numbers {
                    margin-right: 1rem;
               }
          }
     }
}